.contact-us {
    text-align: left;
    margin-bottom: 10svh;
}

.contact-us .row {
    display: flex;   
    padding-left: 10%; 
    padding-right: 10%;
    margin: auto;
    max-width: 1000px;
    border: solid lightgreen;
    
}

.contact-us .row .text {
    flex: 1;
    font-size: 14pt;     
    text-align: left;       
    max-width: 400px; 
    margin: auto;    
    margin-bottom: 3svh
}
 
.contact-us .row .line-item {
    flex: 1; 
    border: solid; 
    border-radius: 15pt;
    background-color: beige;
    margin: auto;
    margin-bottom: 2svh;
    max-width: 400px;
    font-size: 17pt;
    text-align: center;
}