.contact-us {
    text-align: left;
    margin-bottom: 10svh;
}

.contact-us .row #text {    
    max-width: 400px; 
    margin: auto;  
    margin-bottom: 5%;      
}
 
.contact-us .row .line-item {
    flex: 1; 
    border: solid; 
    border-radius: 15pt;
    background-color: beige;
    margin: auto;
    margin-bottom: 2svh;
    max-width: 400px;
    font-size: 17pt;
    text-align: center;
}