.about-us {
    text-align: left;
    margin-bottom: 8svh 
} 
   
.about-us .row {
    display: flex;  
    margin: auto;
    border: solid lightgreen;
    max-width: 1000px;
}

.about-us .row .column-left, .column-right {        
    flex: 1;        
    border-radius: 30pt;    
    margin: auto;
    border: solid black;
}

.about-us .row #headline {
    font-size: 30pt;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 5%;
}
    
  /* optimize webpage for mobile */
@media (max-width: 768px) {
    #desktop {
        display: none;
    }
    .about-us .row  {
        flex-direction: column;      
    }        
    .about-us .row .column-left, .column-right {    
      margin-left: 0%;
      margin-right: 0%;        
    }
    .about-us .row #headline {
      font-size: 18pt;
    }
    .about-us .row #text {
      font-size: 10pt;
    }
}

@media (min-width: 769px) {
    #mobile {
        display: none;
    }
}