.about-us {
    text-align: left;
    /* margin-left: 0%; */
    /* margin-right: 0%; */
    /* margin-bottom: 0%; */
} 
   
.about-us .container {
    display: flex;  
    margin-top: 5%;
    margin-bottom: 5%;      
}

.about-us .container .column-left, .column-right {        
    flex: 1;        
    border-radius: 30pt;    
}

.about-us .container .column-left {    
    margin-right: 5%;
}

.about-us .container .column-right {
    margin-left: 5%;            
}

.about-us .container #headline {
    font-size: 30pt;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 5%;
}
    
  /* optimize webpage for mobile */
@media (max-width: 768px) {
    #desktop {
        display: none;
    }
    .about-us #title {
      font-size: 30pt;
    }
    .about-us #small-text {
      font-size: 8pt;
    }
    .about-us .container  {
        flex-direction: column;   
        margin-left: 1%;
        margin-right: 1%;     
    }        
    .about-us .container .column-left, .column-right {    
      margin-left: 0%;
      margin-right: 0%;  
      margin-bottom: 5%;
    }
    .about-us .container #headline {
      font-size: 18pt;
    }
    .about-us .container #text {
      font-size: 10pt;
    }
}

@media (min-width: 769px) {
    #mobile {
        display: none;
    }
}