.two-column-container {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
}

.small-title {
    text-align: center;
    font-size: 10pt;
    flex: 1;
    margin-bottom: 0%;
}

.headline-title {
    flex: 1;
    text-align: center;
    font-size: 40pt; 
    font-family: monospace;
    margin-left: 10%;
    margin-right: 10%
}

.headline-title #highlight {
    color: #023d29;
    font-size: 40pt;
    font-family: monospace;
    font-weight: 900;
}


.two-column-container .column {    
    flex: 1; 
    flex-direction: row;
    font-size: 15pt;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.two-column-container .column #pic, #pic-mobile {
    place-items: center;    
    max-width: 100%;
    max-height: auto;
}

#pic-mobile {
    padding: 5%;
}

.two-column-container .column #title {
    font-size: 30pt;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* modify the button color */

#demo-button {
    /* flex: 1;  */
    background-color: greenyellow;
    color: black; 
    border: solid;
    border-radius: 15px;
}

#learn-more-button {      
    /* flex: 1;   */
    background-color: greenyellow;
    color: black; 
    border: solid;
    border-radius: 15px;    
}



/* modify the button hover over color */
#learn-more-button:hover {
    background-color: yellowgreen;
}

#demo-button:hover {
    background-color: yellowgreen;
}

/* #statement-animation {
    text-align: center;
    font-weight: bolder;
    background-color: burlywood;
} */

#statement-animation {
    /* border: solid; */
    /* border-color: gray; */
    border-radius: 15px;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgba(128, 128, 128, 0.08);
    text-align: center;
    font-weight: bolder;
  }

  /* optimize webpage for mobile */
@media (max-width: 768px) {
    #pic {
        display: none; 
    }    
    .two-column-container {
        flex-direction: column;   
        margin-left: 1%;
        margin-right: 1%;     
    }        
    .headline-title {
        font-size: 20pt;
    }
    .headline-title #highlight {
        font-size: 20pt;
    }
    .two-column-container .column {
        font-size: 12pt; 
        margin-left: 10%;
        margin-right: 10%; 
    }
    .two-column-container .column #title {
        font-size: 18pt;
    }
}

/* optimize webpage for desktop  */
@media (min-width: 769px) {
    #pic-mobile {
        display: none;         
    }
}