.home {
    text-align: center;
}

.home .search-bar {
    text-align: center;
    background-image: url('Home.jpeg'); 
    background-size: cover;
    background-position: center;
    display: flex; 
    justify-content: center;
    height: 50vh;
}

.home .segment-title {
  display: flex; 
  text-align: left; 
  padding-left: 5%;
  padding-bottom: 20pt;
  font-size: 15pt;
  opacity: 40%;
}

.home .three-column-container {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  max-height: auto;
  padding-bottom: 10pt;
}


.home .three-column-container .column {
  flex: 1;
  margin: 0 1rem;
  font-size: small;
  border-radius: 5%;
  align-items: stretch;
}

.home .three-column-container .column-2 {
    flex: 2;
    font-size: small;
    padding: 0.2rem;
}

.home .three-column-container .column #logo {
  place-items: center;
  max-width: 80%;
  max-height: auto;
}

.mission-statement-animation {
  font-size: 40pt;
  border: solid;
  border-radius: 15px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: beige;
}

#mission-statement-title {
  text-align: left;
  font-size: 30pt;
  padding-left: 10%;
  font-family: monospace;
  font-weight: bold;
}

#mission-statement-text {
  text-align: left;
  font-size: 20pt;
  padding-left: 10%;
}

#mission-statement-text-highlight {
  text-align: left;
  font-size: 20pt;
  padding-left: 10%;
  font-weight: bold;
}


.home .three-column-container .column-2 .column-button {
  flex: 1;
  padding-left: 2%;
  padding-bottom: 10%;
}

/* modify the button color */
#learn-more-button {
  background-color: greenyellow;
  color: black; 
  border: solid;
  border-radius: 15px;
  margin-right: 10%;
}

#contact-us-button {
  background-color: greenyellow;
  color: black; 
  border: solid;
  border-radius: 15px;
}

/* modify the button hover over color */
#learn-more-button:hover {
  background-color: aquamarine;
}
#contact-us-button:hover {
  background-color: aquamarine;
}

