
.slider {    
    height: 30svh; 
    /* max-width: 1500px;  */
    width: 100%;
    margin: auto;        
    text-align: center;    
}

.slider-logo {  
    margin: auto;    
}

#slider-logo-id {        
    height: 25svh;     
    max-width: 80%;       
}

.slider-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Maintain aspect ratio without stretching */
  }
  

/* Blur effect for non-centered slides */
.slick-slide {
    transition: filter 1s ease; /* Smooth transition for the blur effect */
}

.slick-center {
    filter: none; /* Remove blur effect for centered slide */        
}

.slick-slide:not(.slick-center) {
    filter: blur(5px); /* Apply blur effect to non-centered slides */    
}

/* @media (max-width: 768px) {
    #slider-logo-id {
        max-width: 100%;
    }
} */
