
.database-demo {
    text-align: center;
}

.database-demo #title {
    font-size: 40pt;
    margin-bottom: 3%;
}

.database-demo .container {
    display: flex; 
}

.database-demo .search-bar {   
    flex: 1; 
    box-sizing: border-box;
    border: 1px solid transparent;
    width: 500px;
    height: 50px;
    padding: 0 12px;
    border-radius: 10pt;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    text-align: left;
    outline: none;
    text-overflow: ellipses;
    margin-bottom: 5%;
}

.database-demo .results {
    flex: 1;
}

.database-demo .message-in-progress {
    flex: 1;
    /* margin-left: 10%; */
    /* margin-right: 10%;  */
    /* max-width: 50%; */
}

.visualization-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap; /* Prevents block items from wrapping to the next line */    
    margin-bottom: 10%;
}

.visualization-block {
    
    margin-right: 10px; /* Add margin between blocks */
    border: 1px solid #ccc; /* Optional: Add border for visual separation */
    padding: 10px; /* Optional: Add padding for block content */
    border-radius: 10pt;
    font-size: 1pt;
    word-wrap: break-word;
    width: 200px; /* Set a fixed width for each block */
    max-width: 100%; /* Set the maximum width of the block */
    margin-right: 10px; /* Add margin between blocks */
    border: 1px solid #ccc; /* Optional: Add border for visual separation */
    padding: 10px; /* Optional: Add padding for block content */
    word-wrap: break-word; /* Allow long words to wrap to the next line */
}

.visualization-block .p {
    font-size: 10pt;
}


rect:hover{
    cursor: pointer;     
}

.rect-normal {
    rx: 10;
    ry: 10;
}

.rect-hover {
    rx: 20;
    ry: 20;
}
